* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/Portadas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
}

.nav {
  width: 350px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 0;
}

.nav a {
  text-decoration: none;
  font-size: 28px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  height: 90px;
  margin: 5px 0;
  float: left;
  background-color: #624BFF;
  display: inline-block;
  color: white;
  line-height: 90px;
  text-align: center;
  transition: 300ms;
}

a.active,
.nav a:hover {
  background-color: white;
  color: black;
  width: 100%;
}

.a {
  width: 95%;
}

.b {
  width: 95%;
}

.c {
  width: 95%;
}

.d {
  width: 95%;
}

.e {
  width: 95%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  /* min-height: 500px; */
  height: auto;
  right: 0;
  top: 10%;
}

.inicio {
  position: relative;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto {
  font-size: 95px;
  padding-right: 90px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px,
    rgb(181, 181, 181) 0px 2px 0px,
    rgb(172, 172, 172) 0px 3px 0px,
    rgb(160, 160, 160) 0px 4px 0px,
    rgb(145, 145, 145) 0px 5px 0px,
    rgb(127, 127, 127) 0px 6px 0px,
    rgba(0, 0, 0, 0.199219) 0px 7px 1px,
    rgba(0, 0, 0, 0.296875) 0px 8px 6px;
}

.inicio h3 {
  font-size: 28px;
  padding: 5px;
  opacity: 0.6;
  color: black;
}

.about {
  position: absolute;
  right: 0;
  top: 10px;
  font-family: 'Libre Baskerville', serif;
  padding: 0 60px;
  justify-content: center;
  display: none;
  color: black;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  background:rgba(0,0,0,0.3);
}

.about p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
}

.skills {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 0 60px;
  display: none;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  background:rgba(0,0,0,0.3);
}

#icon {
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 100px;
}

#icons {
  color: white;
  cursor: pointer;
  display: flex;
  padding: 10px;
  font-size: 20px;
}

.portafolio {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 0 60px;
  display: none;
  color: black;
}

.contact {
  position: absolute;
  top: 10px;
  font-family: 'Libre Baskerville', serif;
  padding: 0 60px;
  display: none;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  background:rgba(0,0,0,0.3);
  color: black;
}

/* nav-side-menu */

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  position: fixed;
  top: 0px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #4f5b69;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    /* z-index: 10 !important; */
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}