*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
}

.background{
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/agua.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
}
.nav{
  width: 350px;
  height: auto;
  /* background-color: gray; */
  position: absolute;
  top: 20%;
  left: 0;
}
.nav a{
  text-decoration: none;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  /* width: 100%; */
  height: 90px;
  margin: 5px 0;
  float: left;
  background-color: black;
  display: inline-block;
  color: white;
  line-height: 90px;
  text-align: center;
  transition: 300ms;
}

a.active, .nav a:hover{
  background-color: white;
  color: black;
  width: 100%;
}
.a{
  width: 95%;  
}
.b{
  width: 85%;  
}
.c{
  width: 80%;  
}
.d{
  width: 90%;  
}
.e{
  width: 95%;  
}

.content{
  position: absolute;
  width: 930px;
  min-height: 500px;
  height: auto;
  /* background-color: red; */
  right: 0;
  top: 10%;
}

.inicio{
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .inicio h1{
  font-size: 95px;
  padding-right: 90px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
} */

.texto {
  font-size: 95px;
  padding-right: 90px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  /* color: #4091EC; */
  text-shadow: rgb(0, 128, 128) 0px 1px 0px,
    rgb(181, 181, 181) 0px 2px 0px,
    rgb(172, 172, 172) 0px 3px 0px,
    rgb(160, 160, 160) 0px 4px 0px,
    rgb(145, 145, 145) 0px 5px 0px,
    rgb(127, 127, 127) 0px 6px 0px,
    rgba(0, 0, 0, 0.199219) 0px 7px 1px,
    rgba(0, 0, 0, 0.296875) 0px 8px 6px;
}

.inicio h3{
  font-size: 28px;
  padding: 5px;
  opacity: 0.6;
}

.about{
  position: absolute;
  right: 0;
  top: 10px;
  /* bottom: -50px; */
  color: white;
  font-family: Century gothic;
  padding: 0 60px;
  display: none;
}
.about p{
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
}

.about{
  position: absolute;
  right: 0;
  top: 10px;
  color: white;
  font-family: Century gothic;
  padding: 0 60px;
  display: none;
}

.skills{
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
    padding: 0 60px;
    display: none;
}

#icon{
  color: #6495ED;  
  cursor: pointer;
  display: flex;
  justify-content: center;  
  padding: 10px;
  /* background: #fff; */
  font-size: 100px;
}

.portafolio{
  position: absolute;
  right: 0;
  top: 10px;
  color: white;
  padding: 0 60px;
  display: none;
}

.contact{
  position: absolute;
  right: 0;
  top: 10px;
  color: white;
  padding: 0 60px;
  display: none;
}


/* FORMULARIO =================================== */
.form_wrap {
  width: 850px;
  height: 530px;
  margin: 50px auto;
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/
.cantact_info::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4091EC;
  opacity: 0.9;
}

.cantact_info {
  width: 38%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('../fondo.jpg'); */
  background-size: cover;
  background-position: center center;
}

.info_title,
.info_items {
  position: relative;
  z-index: 2;
  color: #fff;
}

.info_title {
  margin-bottom: 260px;
}

.info_title span {
  font-size: 100px;
  display: block;
  text-align: center;
  /* margin-bottom: 15px; */
}

.info_title h2 {
  font-size: 35px;
  text-align: center;
}

.info_items p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  /* margin-bottom: 40px; */
}

.info_items p:nth-child(1) span {
  font-size: 30px;
  margin-right: 5px;
  /* margin-bottom: 100px; */
}

.info_items p:nth-child(2) span {
  font-size: 50px;
  margin-right: 5px;
  margin-left: 4px;
  /* margin-bottom: 90px; */
}

/* Formulario de contacto*/
form.form_contact {
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info {
  display: flex;
  flex-direction: column;
}

form.form_contact label {
  font-weight: 600;
}

form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #D1D1D1;
  font-family: 'Open sans';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact input[type="button"] {
  width: 180px;
  background: #4091EC;
  padding: 10px;
  border: none;
  border-radius: 25px;
  align-self: flex-end;
  color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="button"]:hover {
  background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje_modal {
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px 20px 15px;
}

.mensaje_modal h3 {
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
}

.mensaje_modal p {
  font-size: 16px;
  color: #606060;
}

.mensaje_modal p:before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  color: #E25151;
  margin-right: 8px;
}

#btnClose {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;
  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;
  float: right;
}

/* Fin de formulario */
